; Stage 2

; Sasuke
add:
{
	"targetname" "qsdfg_sasuke_specboss"
	"classname" "env_sprite"
	"parentname"	"qsdfg_sasuke_boss_Physbox"
	"framerate" "0"
	"model" "sprites/bluelaser1.vmt"
	"rendermode" "10"
	
	"origin" "-12446.4 12543.6 -15681.7"
	"OnUser1"		"!self,AddOutput,angles 10 90 0,0,-1"
}

modify:
{
	match:
	{
		"targetname" "sasuke_start_relay"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "qsdfg_sasuke_specboss,FireUser1,,8.1,-1"
	}
}

; Stage 3

; Obito

add:
{
	"targetname" "obito_boss_specboss"
	"classname" "env_sprite"
	"parentname"	"obito_boss_Physbox"
	"framerate" "0"
	"model" "sprites/bluelaser1.vmt"
	"rendermode" "10"
	
	"origin" "-12441.6 12532.4 -14995.0"
	"OnUser1"		"!self,AddOutput,angles 15 90 0,0,-1"
}

modify:
{
	match:
	{
		"targetname" "obito_start_relay"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "obito_boss_specboss,FireUser1,,1.6,-1"
	}
}

; Stage 4

; Madara

add:
{
	"targetname" "madara_boss_specboss"
	"classname" "env_sprite"
	"parentname"	"madara_boss_Physbox"
	"framerate" "0"
	"model" "sprites/bluelaser1.vmt"
	"rendermode" "10"
	
	
	"origin" "-12441.5 12529.4 -14187.9"
	"OnUser1"		"!self,AddOutput,angles 10 90 0,0,-1"
}

modify:
{
	match:
	{
		"targetname" "madara_start_relay"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "madara_boss_specboss,FireUser1,,1.3,-1"
	}
}